body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

input {
  padding: 0;
  padding-left: 14px;
  margin: 0;
  height: 44px;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  box-sizing: border-box;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
  margin: 0 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  border: solid black 1px;
  box-sizing: border-box;
}

.site-wrapper {
background: #849d8f url("../img/slider-1.png") no-repeat top center;
}

.slider {
position: relative;
text-align: center;
color: #fff;
padding-top: 430px;
}

.slide {
display: none;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 63px;
  font-size: 0;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  vertical-align: top;
}

#product-1:checked ~ .site-wrapper .container .slider .slider-list #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3, {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #fff;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 32px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.main-header .container{
display: flex;
flex-direction: column;
}

.header-phone {
  font-weight: 700;
  align-self: flex-end;
  text-align: right;
  border: 1px black solid;
}

.header-phone p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.header-phone span {
  font-size: 22px;
  line-height: 30px;
}

.main-navigation {
  display: flex;
  border: 1px black solid;
}

.header-logo {
margin-top: 9px;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top:30px;
  width: 378px;
}

.aside-navigation {
  line-height: 18px;
  font-weight: 500;
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 23px;
  width: 272px;
  justify-content:space-around;
}

.site-navigation a:hover,
.aside-navigation a:hover,
.site-navigation a:focus,
.aside-navigation a:focus {
  color: #333;
}



.slide p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.promo {
  min-height: 229px;
  display: flex;
  justify-content: space-between;
}

.promo-item {
  width: 560px;
  padding: 23px 20px;
  box-sizing: border-box;
  border-radius: 13px;
}

.promo h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  border: 1px black solid;
}

.promo p {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  border: 1px black solid;
}

.promo .button {
  margin-left: 374px;
}

.raspberry {
  background-image: url("../img/Crimson-background.jpg");
  background-color: crimson;
}

.chocolate {
  background-image: url("../img/Choco-background.jpg");
  background-color: brown;
}

.hit-list {
  margin:0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.hit-img{
  margin-right:206px;
  width: 61px;
  height: 61px;
}

.hit-item a {
display: block;
}

.hit-price_kg {
margin-top: 145px;
margin-bottom: 0;
}

 .hit-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  padding:0;
  margin:0
}

.hit-kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.hit-description {
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.hit-list li:first-child {
  background: no-repeat url("../img/hit-1.png");
  background-position: top center;
  width: 267px;

}

.hit-list li:nth-child(2) {
      background: no-repeat url("../img/hit-2.png");
      width:267px;
      height:267px;
      border-radius: 134px;
}

.hit-list li:nth-child(3) {
      background: no-repeat url("../img/hit-3.png");
      width:267px;
      height:267px;
      border-radius: 134px;
}

.hit-list li:last-child {
      background: no-repeat url("../img/hit-4.png");
      width:267px;
      height:267px;
      border-radius: 134px;
}

.advantages_wrapper {
  color: #323232;
  background-color: #e7d7b9;
  background-image: url("../img/Waffle-background.jpg");
  margin-top: 40px;
  border-radius: 13px;
  width: 1146px;
  padding-top: 24px;
}

.advantages-list {
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages-list li {
  width: 542px;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin:0;
  margin-left: 19px;
}

.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog {
  background: #fff url("../img/Blog-background.jpg") -50px 565px;
  width: 560px;
  height: 220px;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 13px;
}
.blog p {
  color: #323232;
  font-weight: 500;
  margin: 0;
}

.blog a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  width: 285px;
}

.subscribe-gradient {
  background: blue;
  width: 560px;
  height: 220px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 13px;
}

.subscribe {
  background-color: #f8f7f4;
  width: 550px;
  height: 210px;
  border-radius: 9px;
  padding: 20px 25px;
  box-sizing: border-box;
}

.subscribe p {
  margin: 0;
  margin-bottom: 40px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
}

.subscribe input {
  width: 368px;
}

.contact {
  background:
  url("../svg/pin.svg") no-repeat 265px 140px,
  url("../img/map.png") no-repeat center -107px;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 870px;
  box-sizing: border-box;

}
.contact-window {
  background-color: #fff;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  height: 305px;
  width: 302px;
  border-radius: 13px;
  box-sizing: border-box;
  padding: 31px 25px;
}

.contact-window p {
  margin: 0;}

.contact-window p:nth-child(2) {
  margin-top: 25px;
  margin-bottom: 25px;
}

.contact-window span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  width: 165px;
}

.footer-menu ul {
  font-size: 13px;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  height: 96px;
  width: 348px;
}

.footer-menu li:first-child {
    font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-copyright p {
  margin: 0;
}

.modal {
  background-color: #f8f7f4;
}

.modal p {
  margin: 0;
}

.modal-login {
  width: 277px;
  height: 214px;
  margin-bottom: 50px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}


.login-form input {
  width: 240px;
  margin-bottom: 20px;
}

.login-form-menu {
  display: flex;
  justify-content: space-between;
}

.login-form-menu button {
  width: 100px;
}

.modal-search {
  height: 84px;
  width: 340px;
  padding: 20px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-form input {
  width: 310px;
}

.modal-feedback {
  width: 477px;
  height: 442px;
  padding: 19px 25px 25px 25px;
  border-radius: 9px;
  box-sizing: border-box;
}

.feedback-form {
margin: 25px 0;
box-sizing: border-box;
}

.feedback-title {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.name,
.feedback-email {
  width: 267px;
  margin-bottom: 20px;
}

.message {
width: 426px;
height: 153px;
border-radius: 5px;
margin-bottom: 15px;
}

.feedback-form .button {
  margin-left: 290px;
  width: 140px;
}

.restore {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}
