body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.img {
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
  padding-left: 14px;
  margin: 0;
  height: 44px;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  box-sizing: border-box;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
  margin: 0 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  border: solid black 1px;
  box-sizing: border-box;
}

.site-wrapper {
background: #849d8f url("../img/slider-1.png") no-repeat top center;
transition:background-image 0.5s ease, background-image 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility:
}

.site-wrapper::before {
  background-image: url("../img/slider-1.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-2.png");
}

.slider {
position: relative;
text-align: center;
color: #fff;
padding-top: 280px;
padding-bottom: 40px;
}

.slide {
display: none;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide-title {
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  width: 670px;
}

.slider-controls {
  position: absolute;
  left: 125;
  bottom: 63px;
  font-size: 0;
  z-index: 20;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  vertical-align: top;
}

#product-1:checked ~ .site-wrapper  #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #fff;
}

.site-wrapper label[for="product-1"]:hover,
.site-wrapper label[for="product-2"]:hover,
.site-wrapper label[for="product-3"]:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
   background-image: url("../img/slider-3.png");
}

.button {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  vertical-align: top;
  text-decoration: none;
  background: #f26843;
  background:  linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 24px;
  padding: 11px 22px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.slide-button {
  padding: 12px 44px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  border-radius: 32px;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732, #e1613e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.link:hover,
.link:active {
  color: #ffbc9e;
  text-decoration-color: rgba(255, 188, 158, 0.2);
}

.main-header .container{
display: flex;
flex-direction: column;
}

.header-phone {
  font-weight: 700;
  align-self: flex-end;
  text-align: right;
  border: 1px black solid;
}

.header-phone p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.header-phone span {
  font-size: 22px;
  line-height: 30px;
}

.main-navigation {
  display: flex;
  border: 1px black solid;
}

.header-logo {
margin-top: 10px;
}

.main-navigation-wrapper {
display: flex;
justify-content: space-between;
width: 1146px;
}

.site-navigation {
  padding: 0;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
  max-width: 385px;
}

.aside-navigation {
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin-top: 25px;
  width: 263px;
}

.site-navigation .nav-button,
.aside-navigation .nav-button {
  display: block;
  vertical-align: middle;
  padding: 7px 15px;
}

.site-navigation .nav-button {
  text-decoration: underline;
  text-decoration-color:  rgba(255, 255, 255, 0.2);
}

.aside-navigation .nav-button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
}

.site-navigation .nav-button:hover,
.aside-navigation .nav-button:hover,
.site-navigation .nav-button:focus,
.aside-navigation .nav-button:focus {
  color: #333;
  background-color: #fff;
  border-radius: 16px;
  text-decoration: none;
  outline: none;
}

.site-navigation .nav-button:active {
  color: #333;
  background-color: #fff;
  border-radius: 16px;
  text-decoration: none;
  outline: none;
  box-shadow:  inset 0px 1px 2px 1px rgba(105, 105, 105, 0.6);
}

.aside-navigation .nav-search {
  width: 32px;
  height: 32px;
  font-size: 0px;
  position: relative;
}

.aside-navigation .nav-search svg {
  position: absolute;
  top: 7px;
  left: 8px;
}

.aside-navigation .nav-search:hover path,
.aside-navigation .nav-login:hover path,
.aside-navigation .nav-login:hover polygon,
.aside-navigation .nav-cart:hover path,
.aside-navigation .nav-cart:hover circle,
.aside-navigation .nav-search:focus path,
.aside-navigation .nav-login:focus path,
.aside-navigation .nav-login:focus polygon,
.aside-navigation .nav-cart:focus path,
.aside-navigation .nav-cart:focus circle {
  fill: black;
}


.aside-navigation .nav-login,
.aside-navigation .nav-cart {
padding-left: 45px;
position: relative;
}

.aside-navigation .nav-cart {
  padding-right: 34px;
}

.aside-navigation .nav-login svg,
.aside-navigation .nav-cart svg {
  position: absolute;
  top: 6px;
  left: 16px;
}

.slide p {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.promo {
  min-height: 229px;
  display: flex;
  justify-content: space-between;
}

.promo-item {
  width: 560px;
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 13px;
  position: relative;
}

.promo h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border: 1px black solid;
}

.promo p {
  font-size: 18px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  border: 1px black solid;
}

.promo .button {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.raspberry {
  background-image: url("../img/Crimson-background.jpg");
  background-color: crimson;
}

.chocolate {
  background-image: url("../img/Choco-background.jpg");
  background-color: brown;
}

.hit-list {
  margin:0;
  margin-top: 40px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.hit-img{
  margin-right:206px;
  width: 61px;
  height: 61px;
}

.hit-item a {
display: block;
}

.hit-price_kg {
margin-top: 145px;
margin-bottom: 0;
}

 .hit-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  padding:0;
  margin:0
}

.hit-kg {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.hit-description {
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color:  rgba(255, 255, 255, 0.2);
}

.hit-list li:first-child {
  background: no-repeat url("../img/hit-1.png");
  background-position: top center;
  width: 267px;

}

.hit-list li:nth-child(2) {
      background: no-repeat url("../img/hit-2.png");
      width:267px;
      height:267px;
      border-radius: 134px;
}

.hit-list li:nth-child(3) {
      background: no-repeat url("../img/hit-3.png");
      width:267px;
      height:267px;
      border-radius: 134px;
}

.hit-list li:last-child {
      background: no-repeat url("../img/hit-4.png");
      width:267px;
      height:267px;
      border-radius: 134px;
}

.advantages_wrapper {
  color: #323232;
  background-color: #e7d7b9;
  background-image: url("../img/Waffle-background.jpg");
  margin-top: 40px;
  border-radius: 13px;
  width: 1146px;
  height: 308px;
  padding: 25px 20px 10px 20px;
  box-sizing: border-box;
}

.advantages-list {
  list-style: none;
  margin:0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.advantages-list li {
  box-sizing: border-box;
  width: 540px;
  padding: 0;
  margin: 0;
  padding-left: 56px;
  position: relative;
}

.advantages-list li::before {
  content: "";
  width: 49px;
  height: 49px;
  border-radius: 25px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.advantages-list li:first-child::before {
  background: url("../img/ice-cream-icon.svg") no-repeat 0 0;
}

.advantages-list li:nth-child(2)::before {
  background: url("../img/cow-icon.svg") no-repeat 0 0;
}

.advantages-list li:nth-child(3)::before {
  background: url("../img/leaf-icon.svg") no-repeat 0 0;
}

.advantages-list li:last-child::before {
  background: url("../img/Thermometer-icon.svg") no-repeat 0 0;
}

.advantages-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin:0;
  margin-left: 19px;
  margin-bottom: 6px;
}

.blog-subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog {
  background: #fff url("../img/Blog-background.jpg") -50px 565px;
  width: 560px;
  height: 220px;
  padding: 13px;
  box-sizing: border-box;
  border-radius: 13px;
}

.blog p {
  color: #323232;
  font-weight: 500;
  margin: 0;
}

.blog-link {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  width: 285px;
  text-decoration: underline;
  text-decoration-style: 2px #323232 solid;

}

.subscribe-wrapper {
  background: #92cdff url("../img/phone.png") 0 0 no-repeat;
  width: 560px;
  height: 220px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 16px;
}

.subscribe {
  background-color: #f8f7f4;
  width: 550px;
  height: 210px;
  border-radius: 14px;
  padding: 30px 20px 35px 20px;
  box-sizing: border-box;
}

.subscribe p {
  margin: 0;
  margin-bottom: 40px;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
}

.subscribe input {
  width: 368px;
  float:left;
}

 .subsctibe-button {
padding-left: 20px;
padding-right: 20px;
}

.subscribe form {
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
padding: 0;
}

.contact {
  background:
  url("../svg/pin.svg") no-repeat 265px 140px,
  url("../img/map.png") no-repeat center -107px;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  padding-top: 60px;
  padding-left: 870px;
  box-sizing: border-box;

}
.contact-window {
  background-color: #fff;
  color: #323232;
  font-size: 14px;
  line-height: 20px;
  height: 305px;
  width: 302px;
  border-radius: 13px;
  box-sizing: border-box;
  padding: 31px 25px;
}

.contact-window p {
  margin: 0;
}

.contact-window p:nth-child(2) {
  margin-top: 22px;
  margin-bottom: 22px;
}

.contact-window span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contact-button {
padding: 11px 27px;
}

.main-footer {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  width: 185px;
}

.footer-social svg {
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social path{
  fill: rgba(255, 255, 255, 0.8);
}
.footer-social .social-button:hover path{
  fill: rgba(255, 255, 255, 1);
}

.footer-menu ul {
  font-size: 13px;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  padding: 37px 0 30px 0;
  margin: 0;
  width: 326px;
}

.footer-menu li {
  width: 50%;
  box-sizing: border-box;
}

.footer-menu li a,
.footer-copyright a {
  text-decoration: underline;
  text-decoration-color:  rgba(255, 255, 255, 0.2);
}

.footer-menu li:first-child {
    font-weight: 700;
    position: relative;
    padding-left: 22px;
}

.footer-menu li:nth-child(3) {
    padding-left: 22px;
}

.footer-menu li:first-child svg {
  position: absolute;
  top: 3px;
  left: 0;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-copyright p {
  margin: 0;
}

.modal {
  background-color: #f8f7f4;
}

.modal p {
  margin: 0;
}

.modal-login {
  width: 277px;
  height: 214px;
  margin-bottom: 50px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}


.login-form input {
  width: 240px;
  margin-bottom: 20px;
}

.login-form-menu {
  display: flex;
  justify-content: space-between;
}

.modal-search {
  height: 84px;
  width: 340px;
  padding: 20px 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-form input {
  width: 310px;
}

.modal-feedback {
  width: 477px;
  height: 442px;
  padding: 19px 25px 25px 25px;
  border-radius: 9px;
  box-sizing: border-box;
}

.feedback-form {
margin: 25px 0;
box-sizing: border-box;
}

.feedback-title {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.name,
.feedback-email {
  width: 267px;
  margin-bottom: 20px;
}

.message {
width: 426px;
height: 153px;
border-radius: 5px;
margin-bottom: 15px;
}

.feedback-form .button {
  margin-left: 290px;
}

.restore {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
}
